<!DOCTYPE html>
<html>
@*<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>



</head>*@
<head>
	<title>@ViewBag.Title - judgewaddell.org</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="judgewaddell.org" name="author">

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/favicon.ico">

	<!-- Web Fonts -->
	<link rel="shortcut" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="~/assets/css/headers/header-default.css">
	<link rel="stylesheet" href="~/assets/css/footers/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="~/assets/plugins/animate.css">
	<link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/assets/plugins/parallax-slider/css/parallax-slider.css">
	<link rel="stylesheet" href="~/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
	<!-- CSS Theme -->
	<link rel="stylesheet" href="~/assets/css/theme-colors/dark-blue.css" />

	<!-- CSS Customization -->
	<link rel="stylesheet" href="~/content/site.css">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-sanitize.js"></script>
	<script src="//cdn.rawgit.com/showdownjs/showdown/1.6.0/dist/showdown.min.js"></script>
	<script src="~/app/services/ngShowdown.js"></script>

	<script>
		var app = angular.module('myApp', ['ngSanitize', 'ng-showdown']);
	</script>

    @RenderSection("styles", required: false)

	<script type="text/javascript">
	var appInsights = window.appInsights || function (config) {
		function i(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = "AuthenticatedUserContext", h = "start", c = "stop", l = "Track", a = l + "Event", v = l + "Page", y = u.createElement(o), r, f; y.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(y); try { t.cookie = u.cookie } catch (p) { } for (t.queue = [], t.version = "1.0", r = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; r.length;)i("track" + r.pop()); return i("set" + s), i("clear" + s), i(h + a), i(c + a), i(h + v), i(c + v), i("flush"), config.disableExceptionTracking || (r = "onerror", i("_" + r), f = e[r], e[r] = function (config, i, u, e, o) { var s = f && f(config, i, u, e, o); return s !== !0 && t["_" + r](config, i, u, e, o), s }), t
	}({
		instrumentationKey: "1a10bd9e-7fbe-491e-9656-cd6a40d5a761"
	});

	window.appInsights = appInsights;
	appInsights.trackPageView();
	</script>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")


</head>

<body ng-app="myApp">
	<div class="wrapper">
		@Html.Partial("header")
		<div class="container body-content">
			@RenderBody()
		</div>
		@Html.Partial("footer")

		@*
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		*@
		<!-- JS Global Compulsory -->
		<script type="text/javascript" src="~/assets/plugins/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="~/assets/plugins/jquery/jquery-migrate.min.js"></script>
		<script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<!-- JS Implementing Plugins -->
		<script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
		<script type="text/javascript" src="~/assets/plugins/smoothScroll.js"></script>
		<script type="text/javascript" src="~/assets/plugins/parallax-slider/js/modernizr.js"></script>
		<script type="text/javascript" src="~/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
		<script type="text/javascript" src="~/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
		<!-- JS Customization -->
		<script type="text/javascript" src="~/assets/js/custom.js"></script>
		<!-- JS Page Level -->
		<script type="text/javascript" src="~/assets/js/app.js"></script>
		<script type="text/javascript" src="~/assets/js/plugins/owl-carousel.js"></script>
		<script type="text/javascript" src="~/assets/js/plugins/parallax-slider.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function () {
				App.init();
				OwlCarousel.initOwlCarousel();
				ParallaxSlider.initParallaxSlider();
			});
		</script>
		<!--[if lt IE 9]>
		<script src="assets/plugins/respond.js"></script>
		<script src="assets/plugins/html5shiv.js"></script>
		<script src="assets/plugins/placeholder-IE-fixes.js"></script>
		<![endif]-->


		<!--[if lt IE 9]>
		<script src="assets/plugins/respond.js"></script>
		<script src="assets/plugins/html5shiv.js"></script>
		<script src="assets/plugins/placeholder-IE-fixes.js"></script>
		<![endif]-->

		@RenderSection("scripts", required: false)
	</div>
</body>
</html>
